<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Categoria</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="containerForm">
        <h1>Cadastrar Categoria</h1>
        <form id="categoriaForm">
            <p>
                <label for="nomeCategoria">Categoria:</label>
                <input type="text" id="nomeCategoria" name="nomeCategoria" required>
            </p>
            <p>
                <label for="descCategoria">Descrição:</label>
                <input type="text" id="description" name="descCategoria" required>
            </p>
            <p>
                <a href="index.html" class="btnVoltar">Voltar</a>
                <button class="btn" type="submit">Cadastrar Categoria</button>                
            </p>
        </form>
        
    </div>
    <script src="js/scripts.js"></script>
</body>
</html>
