<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="containerForm">
        <h1>Cadastrar Produto</h1>
        <form id="produtoForm">
            <p>
                <label for="nomeProduto">Nome do Produto:</label>
                <input type="text" id="nomeProduto" name="nomeProduto" required>
            </p>
            <p>
                <label for="descProduto">Descrição:</label>
                <input type="text" id="descProduto" name="descProduto" required>
            </p>
            <p>
                <label for="precoProduto">Preço:</label>
                <input type="text" id="precoProduto" name="precoProduto" required>
            </p>
            <p>
                <label for="IDProprietario">Proprietário:</label>
                <input type="number" placeholder="Apenas Números" id="IDProprietario" name="IDProprietario" required >
            </p>
            <p>
                <a href="index.html" class="btnVoltar">Voltar</a>
                <button type="submit" class="btn">Cadastrar Produto</button>                
            </p>
        </form>
        
    </div>
    <script src="js/scripts.js"></script>
</body>
</html>
