<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Produtos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Catálogo de Produtos</h1>
        <nav>
            <ul>
                <li><a href="cadProdutos.html" class="btnInicio">Cadastro de Produto</a></li>
                <li><a href="cadCategoria.html" class="btnInicio">Cadastro de Categoria</a></li>
                <li><a href="associar.html" class="btnInicio">Associar Produto</a></li>
                <li>
                    <a href="atualizacao.html" class="btnInicio">Atualizar</a>
                    <a href="excluir.html" class="btnInicio">Excluir</a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="js/scripts.js"></script>
</body>
</html>
