<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Produtos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Catálogo de Produtos</h1>
    <nav>
        <ul>
            <li><a href="cadProdutos.html">Cadastro de Produto</a></li>
            <li><a href="cadCategoria.html">Cadastro de Categoria</a></li>
            <li><a href="associar.html">Associar Produto/a></li>
            <li><a href="atualizacao.html">Atualizar</a></li>
            <li><a href="excluir.html">Excluir</a></li>
        </ul>
    </nav>
    <script src="js/scripts.js"></script>
</body>
</html>
